version: '3.8'

volumes:
  db_data:

networks:
  zabbix_net:
    driver: bridge

services:
  db_mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: 'zabbix'
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - zabbix_net
    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: 1024M
    command: "--character-set-server=utf8 --collation-server=utf8_bin --default-authentication-plugin=mysql_native_password"

  zabbix_server:
    image: zabbix/zabbix-server-mysql:ubuntu-6.0-latest 
    restart: always
    ports:
      - '10051:10051'
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      DB_SERVER_HOST: db_mysql
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: 'zabbix'
    networks:
      - zabbix_net
    deploy:
      resources:
        limits:
          cpus: '0.70'
          memory: 1024M

  zabbix_frontend:
    image: zabbix/zabbix-web-nginx-mysql:ubuntu-6.0-latest
    restart: always
    ports:
      - '80:80'
    environment:
      DB_SERVER_HOST: db_mysql
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: 'zabbix'
      ZBX_SERVER_HOST: 'zabbix_server:10051'
      PHP_TZ: America/Sao_Paulo
    networks:
      - zabbix_net
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M